################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppTicketV2/FileContentIndex/eced39e6-525e-454a-b04b-16eff1c988ea.vsidx
